.ipynb_checkpoints/
1.jpg
A12.6.1/
A12.6.1_H.jpg
A12.6.1_cropped/
A12.6.1_cropped_200.jpg
A12.6.1_pano.jpg
A12_dist005_pano.jpg
A12_dist010_pano.jpg
A12_dist012_pano.jpg
A12_dist013_pano.jpg
A12_dist014_pano.jpg
A12_dist015_pano.jpg
A12_dist016_pano.jpg
A12_dist018_pano.jpg
A12_dist025_pano.jpg
A12_dist0_pano.jpg
A12_orig_pano.jpg
A12dist/
CuM1/
CuM1dist/
ShiftN/
__pycache__/
dd23016/
dd23016_pano.jpg
dd23016dist/
dd23016dist_pano.jpg
dirs.pickle
dist010_pano.jpg
dist013/
dist013norotate/
distortions/
final_transforms.npy
horizhomos.npy
horizinliers.npy
horizinliers.pickle
initial_transforms.npy
kedr1/
kedr1_H.jpg
kedr1_averaged.jpg
kedr1_cropped.jpg
kedr1_cropped/
kedr1_experimental.jpg
kedr1_filtered/
kedr1_filtered01/
kedr1_filtered02/
kedr1_filtered04/
kedr1_filtered07/
kedr1_filtered1/
kedr1_fixed.jpg
kedr1_median.jpg
kedr1_optimization.jpg
kedr1_pano.jpg
kedr1_pano_dist013.jpg
kedr1_pano_dist013norotate.jpg
kedr1_pano_shiftN.jpg
kedr1_pano_without_interpolation.jpg
kedr1_undist/
kedr2/
kedr2_dist/
kedr2_dist005_pano.jpg
kedr2_dist007_pano.jpg
kedr2_dist008_pano.jpg
kedr2_dist009_pano.jpg
kedr2_dist010_pano.jpg
kedr2_dist011_pano.jpg
kedr2_dist012_pano.jpg
kedr2_dist013_pano.jpg
kedr2_dist014_pano.jpg
kedr2_dist015_pano.jpg
kedr2_dist016_pano.jpg
kedr2_dist018_pano.jpg
kedr2_dist0_pano.jpg
kedr2_orig_pano.jpg
kedr2_pano.jpg
kedr3/
kedr3_dist/
kedr_1_pano_dist0.jpg
kedr_1_pano_dist005.jpg
kedr_1_pano_dist010.jpg
kedr_1_pano_dist012.jpg
kedr_1_pano_dist013.jpg
kedr_1_pano_dist014.jpg
kedr_1_pano_dist015.jpg
kedr_1_pano_dist016.jpg
kedr_1_pano_dist018.jpg
kedr_1_pano_dist025.jpg
pano_compressed/
pano_resized/
pic_compressed/
pic_resized/
row3_H.jpg
ruler.jpg
scores.pickle
sift-test.ipynb
sift_test_2.ipynb
stock.ipynb
transforms.npy
vertichomos.npy
verticinliers.pickle